:root:global(.light) .switch {
    background-color: var(--background-200);

    &::before {
        background-color: var(--primary-600);
    }

    &:focus-visible {
        outline-color: var(--primary-500);
    }

    &:checked {
        background-color: var(--primary-500);

        &::before {
            background-color: var(--background-50);
        }
    }
}
