:local(.overlay) {
    position: absolute;
    display: flex;

    inset: 0;

    justify-content: center;
    align-items: center;

    background: #000a;
    cursor: pointer;
    animation: 100ms bg forwards ease-out;

    @media not (pointer: fine) {
        backdrop-filter: unset !important;
    }

    @media (max-aspect-ratio: 3/4) {
        align-items: end;
    }
}

:local(.modal) {
    position: relative;

    width: min(100%, 40rem);
    min-height: 5.4rem;

    padding: 0;

    background-color: var(--app-background);
    color: var(--app-foreground);

    border: hidden;
    border-radius: 0.8rem;

    box-shadow: 0 1px 10px 2px #0003;

    box-sizing: border-box;
    overflow: hidden;

    cursor: default;

    animation: 50ms scale both ease-out;

    &.scrollable {
        height: 85vh;
    }

    @media (max-aspect-ratio: 3/4) {
        border-radius: 1rem 1rem 0 0;
        width: 100%;

        &.scrollable {
            height: 60vh;
        }
    }
}

:local(.content) {
    padding: 0.5rem 2.3rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));

    scrollbar-width: thin;
    scrollbar-color: var(--element-background) var(--dimmed-background);

    box-sizing: border-box;

    pointer-events: all;

    :local(.modal).scrollable & {
        max-height: 100%;

        overflow-y: auto;
    }

    :is(h1, h2) > svg,
    // Don't apply to big buttons
    :is(h1, h2) :not(.big) > svg {
        vertical-align: sub;
        width: 2rem;
        height: 2rem;
        margin-right: 0.3rem;
    }

    p {
        margin-top: 0;
        color: var(--dimmed-foreground);
        line-height: 1.4;
        padding-left: 0.6rem;
    }

    @media (max-aspect-ratio: 3/4) {
        padding-top: 0.8rem;
    }
}

:local(.button) {
    margin: 0.5rem 0;
}

@keyframes bg {
    from {
        opacity: 0;
        backdrop-filter: blur(0);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(5px);
    }
}

@keyframes scale {
    from {
        transform: scale(0.97);
    }
    to {
        transform: scale(1);
    }
}
