:local(.options) {
    display: flex;
    position: relative;

    flex: 0 0 auto;
    width: 100%;
    max-width: 96%;

    margin: 0.4rem 0;

    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    font-weight: 300;

    * {
        font-feature-settings: "tnum";
    }

    // Mobile layout
    @media (max-aspect-ratio: 3/4) {
        display: grid;

        grid-template-columns: 1fr 1fr 2fr;

        #weekButtons {
            grid-column: 1 / span 3;
            grid-row: 1;
        }

        > :not(#weekButtons) {
            width: 100%;
        }
    }
}
