:local(.overlay) {
    position: fixed;
    inset: 0;

    background: #000a;
    backdrop-filter: blur(5px);

    // This element is literally just a backdrop, so we don't want it to be focusable
    outline: none;

    cursor: pointer;
}
