@use "../transitions.scss";

:local(.switch) {
    appearance: none;

    width: 3.4rem;
    height: 2rem;

    background-color: var(--element-background);

    border-radius: 1rem;
    outline: 0.2rem transparent;
    outline-offset: 0.2rem;

    cursor: pointer;

    @include transitions.all((background-color, outline-color), 150ms, ease-out);

    &::before {
        content: "";
        display: block;

        width: 2rem;
        height: 2rem;

        background-color: var(--app-foreground);
        border-radius: 50%;

        transform: scale(0.75);

        @include transitions.all((background-color, transform), 150ms, ease-out);
    }

    &:focus-visible {
        outline-style: solid;
        outline-color: var(--accent-primary);
    }

    &:checked {
        background-color: var(--accent-primary);

        &::before {
            transform: scale(0.75) translateX(2rem);
            background-color: #fff;
        }
    }
}
