# Git files
.git/
.gitignore
.gitattributes

# Node files
node_modules/

# Svelte files
.svelte-kit/
build/

# Docker files
.dockerignore
Dockerfile

# Prettier config
.prettierignore
.prettierrc

# .env files
# This is because environment variables are set in docker-compose.yml
.env
.env.*
