@mixin classic {
    :root.classic & {
        @content;
    }
}

%classic-highlight {
    @include classic {
        border-radius: 0;

        box-shadow:
            0 0 0 1px black,
            inset 2px 2px white,
            inset -2px -2px var(--background-400);

        transition: none;
    }
}

:root.light %light-shadow {
    box-shadow: 0 1px 3px #0004;
}

@mixin classic-highlight {
    @extend %classic-highlight;

    @include classic {
        @content;
    }
}
