// Old styles
// TODO: Remove and fix
@media (max-aspect-ratio: 3/4) {
    #weekButtons {
        width: 100%;
        max-height: 2.7rem;
        grid-column: 1/4;
        max-width: unset;

        button {
            font-size: 1.1rem;
        }
    }

    #reloadButton {
        order: 2;
        width: 100%;
        max-height: 2.7rem;
    }

    #info {
        font-size: 1.1rem;
    }
}
