:root {
    --main-background: #21262e;
    --element-background: #434c56;
    --dimmed-background: #31383f;
    --accent: #1f6feb;
    --alt-accent: #2dac45;
    --text: #c9d1d9;
    --text-active: #ffffff;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.7vh;
    font-family: "Inter var", Inter, sans-serif;
    font-feature-settings: "tnum";
    font-weight: 300;
}

body,
dialog.modal {
    background: var(--main-background);
    color: var(--text);
    cursor: default;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
        font-family: inherit;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

main {
    height: 100%;
    width: 100%;
    overflow: auto hidden;
    display: grid;
    grid-template-rows: 3.4rem repeat(5, 1fr);
    grid-auto-flow: column;
    scrollbar-width: thin;
    scrollbar-color: dark;
}

nav {
    position: relative;
    height: 2.6rem;
    margin: 0.4rem 0;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 300;
    max-width: 96%;

    * {
        font-feature-settings: "tnum";
    }

    .dropdown {
        height: 100%;
        width: 12rem;
        flex: 0 1 12rem;

        .options {
            box-shadow: 0 1px 3px 2px #0005;
        }

        &:first-child {
            width: 8rem;
            flex: 0 1 8rem;
        }
    }

    .dropdown-button,
    #weekButtons,
    #reloadButton {
        box-shadow: 0 1px 3px 2px #0001;
        svg {
            width: 1.8rem;
            height: 1.8rem;
            flex: 0 0 auto;
        }
    }
}

button {
    background: inherit;
    border: unset;
    outline: unset;
    color: var(--text);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all ease-out 100ms;

    &:hover {
        filter: brightness(1.1);
    }
    &.active {
        background: var(--element-background);
        color: var(--text-active);
    }

    &.disabled {
        pointer-events: none;
        filter: opacity(0.4);
    }

    &.styled-button {
        border-radius: 0.4rem;
        white-space: nowrap;
        background: var(--dimmed-background);
        height: 2.6rem;
    }
}

svg {
    transition: ease-out 150ms;
}

.dropdown-button {
    padding: 0 0.5rem 0 0.8rem;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    svg {
        width: 1.8rem;
        height: 1.8rem;
    }
}

#weekButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4rem;
    max-width: 39rem;
    padding: 3px;
    background: var(--dimmed-background);
    height: 100%;
    box-sizing: border-box;
    gap: 1px;
    flex: 1 2 100%;
    border-radius: 0.4rem;

    & > button {
        position: relative;
        border-radius: 0.3rem;
        &:not(.active) + button:not(.active)::before {
            content: "";
            position: absolute;
            top: 0.1rem;
            left: -1px;
            bottom: 0.1rem;
            border-left: 1px solid #0003;
        }
        svg {
            vertical-align: bottom;
        }
    }
}

#reloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    padding: 0 0.8rem 0 0.5rem;
}

.dropdown {
    position: relative;

    ::-webkit-scrollbar {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--element-background);
    }

    &.visible svg {
        transform: rotate(-180deg);
    }
}

.options {
    position: absolute;
    left: 0;
    z-index: 2;
    background: var(--dimmed-background);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: max-content;
    min-width: max(10.5rem, 100%);
    gap: 1px;
    padding: 3px;
    scrollbar-width: thin;
    scrollbar-color: dark;
    box-sizing: border-box;
    white-space: pre;

    .option {
        width: 100%;
        text-align: left;
        height: 2.6rem;
        padding: 0 0.7rem;
        border-radius: 0.4rem;
        flex: 0 0 auto;
    }
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #1d2128;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #373e47;
    border-radius: 4px;
}

.day-row {
    display: flex;
}

.cell-container {
    display: inline-grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    flex: 1;
}

.cell {
    margin: 0.3rem;
    position: relative;
    min-width: 0;
    transition: ease-out 100ms;
    display: flex;
    flex-direction: column;
}

.subject {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    min-height: 0;
    background: var(--element-background);
    box-shadow: 1px 1px 3px 2px #0002;
    transition: ease-out 200ms;
    flex: 1 1 auto;
    position: relative;

    &:only-child {
        min-height: 13.5vh;
    }

    &:not(:last-of-type) {
        margin-bottom: 0.6rem;
    }

    &.changed {
        background: var(--accent);
        color: var(--text-active);
    }

    &.changed2 {
        background: var(--alt-accent);
        color: var(--text-active);
    }

    &.floating {
        z-index: 2;
        pointer-events: none;

        #subject-info {
            pointer-events: auto;
        }
    }

    .subject-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0.2rem;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;

        & .top {
            display: flex;
            justify-content: space-between;
        }

        .middle {
            font-size: 1.45rem;
            font-weight: 500;
            text-align: center;
            margin: auto;
            line-height: 0;
        }

        .bottom {
            text-align: center;
        }
    }
}

.day {
    padding: 0.4rem 0 0.4rem 0.2rem;
    display: inline-block;
    writing-mode: vertical-rl;
    flex: 0 0 1rem;
    width: 1rem;
}

.hours {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 1.2rem;

    .hour-container {
        flex: 1 1 0;
        margin: 0.3rem;
        text-align: center;

        .num {
            font-weight: 500;
            font-size: 1.4rem;
        }
    }
}

#overlay {
    position: absolute;
    inset: 0;
    background: var(--main-background);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

dialog.modal::backdrop {
    background: #000a;
    backdrop-filter: blur(5px);

    cursor: pointer;
}

.dim-overlay {
    position: absolute;
    inset: 0;
    background: #000a;
    z-index: 1;
    transition: opacity ease-out 80ms;
    visibility: hidden;
    opacity: 0;

    &.dimmed {
        visibility: visible;
        opacity: 1;
    }
}

#subject-info {
    position: absolute;
    z-index: 2;
    width: max-content;
    margin: -0.67em 2rem;
    background: inherit;
    border-radius: inherit;
    box-shadow: inherit;
    padding: 0 1.4rem;

    svg {
        vertical-align: sub;
        width: 2rem;
        height: 2rem;
        margin-right: 0.3rem;
    }
}

.link {
    text-decoration: dotted underline 2px;
    cursor: pointer;

    & + .link {
        margin-left: 0.5rem;
    }
}

.modal {
    position: relative;
    width: min(100%, 40rem);
    min-height: 5.4rem;
    border: hidden;
    border-radius: 0.8rem;
    box-shadow: 0 1px 10px 2px #0003;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    &.scrollable {
        height: 85vh;
    }

    .modal-content {
        padding: 0.5rem 2.3rem;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: dark;
        height: 100%;

        h1,
        h2 {
            svg {
                vertical-align: sub;
                width: 2rem;
                height: 2rem;
                margin-right: 0.3rem;
            }
        }

        .option-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 3rem;
            font-size: 1.2rem;

            &.disabled {
                opacity: 0.4;
                pointer-events: none;
            }

            .dropdown {
                width: 14rem;
                height: 2.6rem;

                .options {
                    box-shadow: 0 1px 3px 2px #0002;
                }
            }

            &.right-aligned {
                justify-content: right;
            }
        }

        p {
            margin-top: 0;
            filter: brightness(0.5);
            line-height: 1.4;
            padding-left: 0.6rem;
        }
    }
}

.close-button {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 0.4rem;
    z-index: 3;

    & + * {
        max-width: calc(100% - 3rem);
    }
}

.switch {
    position: relative;
    width: 3.4rem;
    height: 2rem;
    flex: 0 0 auto;

    input {
        display: none;
    }

    .slider {
        position: absolute;
        inset: 0;
        background: var(--element-background);
        transition: ease-out 80ms;
        border-radius: 1rem;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            aspect-ratio: 1/1;
            box-sizing: border-box;
            background: #fffc;
            transform: scale(0.7);
            border-radius: 50%;
            transition: inherit;
        }
    }

    input:checked + .slider {
        background: var(--accent);

        &::before {
            margin-left: calc(100% - 2rem);
            background: white;
        }
    }
}

@media (max-aspect-ratio: 1/2) {
    html,
    body,
    #app {
        font-size: 1.3vh;
    }

    .cell {
        min-width: 9vh;
    }
}

@media (max-aspect-ratio: 3/4) {
    #weekButtons {
        width: 100%;
        max-height: 2.7rem;
        grid-column: 1/4;
        max-width: unset;

        button {
            font-size: 1.1rem;
        }
    }

    #reloadButton {
        order: 2;
        width: 100%;
        max-height: 2.7rem;
    }

    main {
        height: auto;
    }

    nav {
        display: grid;
        grid-template-columns: 8rem 12rem 1fr;
        width: 90%;
        height: 5.6rem;
        place-items: center;

        .dropdown {
            order: 1;
            width: 100%;
        }
    }

    #info {
        font-size: 1.1rem;
    }

    .cell:only-child .subject.changed2 .subject-content .middle {
        margin-left: 3rem;
    }

    .modal {
        border-radius: 1rem 1rem 0 0;
        margin-bottom: 0;
        padding: 0.8rem;
        padding-bottom: 0;

        &.scrollable {
            height: 60vh;
        }
    }
}

@media (min-aspect-ratio: 2/5) and (max-aspect-ratio: 3/2) {
    html,
    body,
    #app {
        font-size: 1.4vh;
    }

    main {
        height: auto;
    }

    .cell {
        min-width: 11vh;
    }
}

@media (min-aspect-ratio: 3/1) {
    html,
    body,
    #app {
        font-size: 1.7vh;
    }

    main {
        max-width: 200vh;
    }
}

@media (pointer: fine) {
    .cell:not(:only-child) > .subject:is(:hover, .floating) {
        box-shadow: 1px 1px 5px 3px #0005;
        transform: scale(1.023);
        filter: brightness(1.02);
    }

    .dim-overlay.dimmed {
        backdrop-filter: blur(5px);
    }
}
