@use "sass:color";
@use "sass:map";

:root.light {
    --app-background: #fff;
    --app-foreground: var(--background-600);

    --dimmed-background: var(--background-100);
    --dimmed-foreground: var(--background-400);

    --element-background: var(--background-200);

    --active-background: #fff;
    --active-foreground: var(--background-950);

    --hover-accent-primary: var(--primary-600);
    --hover-accent-secondary: var(--secondary-600);
}

:root.dark {
    --app-background: var(--background-900);
    --app-foreground: var(--background-200);

    --dimmed-background: var(--background-700);
    --dimmed-foreground: var(--background-400);

    --element-background: var(--background-600);

    --active-background: var(--background-500);
    --active-foreground: var(--background-50);

    --hover-accent-primary: var(--primary-400);
    --hover-accent-secondary: var(--secondary-400);

    color-scheme: dark;
}

:root.light,
:root.dark {
    --icon-bg: var(--background-800);
    --icon-fg: var(--background-600);

    --accent-primary: var(--primary-500);
    --accent-secondary: var(--secondary-500);
}

:root.original {
    --app-background: #21262e;
    --app-foreground: #c9d1d9;

    --dimmed-background: #31383f;
    --dimmed-foreground: #{color.mix(#c9d1d9, #000, 75%)}; // same as: filter: brightness(75%);

    --element-background: #{color.mix(#fff, #31383f, 5%)}; // same as: filter: brightness(1.05);

    --active-background: #434c56;
    --active-foreground: #fff;

    --icon-bg: #{color.mix(#fff, #21262e, 5%)}; // brightness(1.05) of app-background
    --icon-fg: #{color.mix(#fff, #434c56, 5%)}; // brightness(1.05) of active-background

    --accent-primary: #1f6feb;
    --accent-secondary: #2dac45;

    --hover-accent-primary: #{color.mix(#fff, #1f6feb, 10%)}; // same as: filter: brightness(1.1);
    --hover-accent-secondary: #{color.mix(#fff, #2dac45, 10%)}; // same as: filter: brightness(1.1);

    color-scheme: dark;
}
