:local(.cell) {
    display: flex;
    position: relative;

    flex-direction: column;

    min-width: 0;
    margin: 0.3rem;

    transition: ease-out 100ms;

    @media (max-aspect-ratio: 1/2) {
        min-width: 9vh;
    }

    @media (min-aspect-ratio: 2/5) and (max-aspect-ratio: 3/2) {
        min-width: 11vh;
    }
}
