:local(.date) {
    display: inline-block;
    flex: 0 0 1rem;

    width: 1rem;
    padding: 0.4rem 0 0.4rem 0.2rem;

    writing-mode: vertical-rl;
}

:local(.event) {
    display: flex;
    align-items: center;

    grid-column: 2 / span 6;
    min-height: calc(12.8vh + 0.6rem);
    padding: 1rem;

    background-color: var(--accent-secondary);
    color: #fff;

    border-radius: 0.3rem;

    box-shadow: 0 0.0625rem 0.25rem -0.125rem #000;
    box-sizing: border-box;

    font-size: 1.45rem;
    font-weight: 600;

    user-select: none;
}

:local(.day) {
    display: contents;
}
