:local(.info) {
    width: max-content;
    max-width: calc(var(--max-width) - 4rem);

    margin: -0.67em 2rem;
    padding: 0 1.4rem;

    background: var(--dimmed-background);
    border-radius: 0.3rem;

    box-shadow: 0 0.0625rem 0.25rem -0.125rem #000;
    box-sizing: border-box;

    &.primary,
    &.secondary {
        color: #fff;
    }

    &.primary {
        background: var(--accent-primary);
    }

    &.secondary {
        background: var(--accent-secondary);
    }

    svg {
        width: 2rem;
        height: 2rem;

        margin-right: 0.3rem;

        vertical-align: sub;
    }
}

:local(.link) {
    // Safari doesn't support the shorthand well...
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;

    white-space: nowrap;

    cursor: pointer;
}
