:local(.info) {
    position: absolute;
    z-index: 2;

    width: max-content;

    margin: -0.67em 2rem;
    padding: 0 1.4rem;

    background: inherit;
    border-radius: inherit;

    box-shadow: inherit;

    svg {
        width: 2rem;
        height: 2rem;

        margin-right: 0.3rem;

        vertical-align: sub;
    }
}

:local(.link) {
    // Safari doesn't support the shorthand well...
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;

    white-space: nowrap;

    cursor: pointer;
}
