@use "../original.scss" as *;

:root:global(.original) .switch {
    background-color: $element-background;

    &::before {
        background-color: #fffc;
    }

    &:focus-visible {
        outline-color: $accent;
    }

    &:checked {
        background-color: $accent;

        &::before {
            background-color: white;
        }
    }
}
