@use "button.scss";

:root.dark {
    :local(.segmented) {
        background-color: var(--background-800);
    }

    :local(.control) {
        @extend :local(.button);

        &.active {
            background-color: var(--background-600);
        }
    }
}
