:root:global(.light) .button {
    color: var(--background-600);
    background-color: var(--background-200);

    // shush
    // we aren't gonna discuss this.. okay?
    box-shadow: 0 calc(1rem / 16) calc(1rem / 4) calc(1rem / 16) var(--background-300);

    &:hover {
        color: var(--background-950);
        background-color: var(--background-300);
    }
}
