@use "../../original.scss" as *;

:root:global(.original) .segmented {
    background-color: $dimmed-background;

    .control {
        color: $text;

        &:hover {
            filter: brightness(1.1);
        }

        &.active {
            background-color: $element-background;
            color: $text-active;
        }
    }
}
