@use "../../original.scss" as *;

@use "button.scss";

:root.original {
    :local(.segmented) {
        background-color: $dimmed-background;
    }

    :local(.control) {
        @extend :local(.button);

        &.active {
            background-color: $element-background;
            color: $text-active;
        }
    }
}
