@use "../../original.scss" as *;

@use "button.scss";

:root:global(.original) {
    .segmented {
        background-color: $dimmed-background;
    }

    .control {
        @extend .button;

        &.active {
            background-color: $element-background;
            color: $text-active;
        }
    }
}
