@use "Button.scss";

// can't use just .button since I'm extending it...
:local(.dropdownButton) {
    @extend :local(.button);

    &.visible svg {
        transform: rotate(-180deg);
    }
}

:local(.dropdown) {
    display: flex;

    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;

    width: max-content;
    min-width: 10.5rem;
    max-height: calc(var(--max-height) - 1rem);

    padding: 0.5rem;
    margin-block: 0.5rem;

    background-color: var(--dimmed-background);
    border-radius: 0.6rem;

    box-shadow: 0 0.0625rem 0.25rem -0.125rem #000;

    white-space: pre;

    box-sizing: border-box;

    // Disable the button's box shadow in light theme (but not for active buttons)
    :root.light & :local(.button):not(.active) {
        box-shadow: none;
    }

    // scroll bars
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--element-background);
    }

    :local(.control) {
        // extend from .button as well
        @extend :local(.button);

        width: 100%;
        height: 2.6rem;
        flex: 0 0 auto;

        padding: 0 0.7rem;

        border-radius: 0.4rem;

        text-align: left;
    }
}
