@use "../../transitions.scss";

:local(.button) {
    appearance: none;
    display: inline-flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    // min-width: 2.75rem; // Broken for some reason...
    min-height: 2.75rem;

    padding: 0.25rem 0.5rem;

    background-color: unset;

    border: unset;
    border-radius: 0.5rem;

    font-size: 1.2rem;
    text-align: center;

    cursor: pointer;
    user-select: none;
    white-space: nowrap;

    @include transitions.all((background-color, color, box-shadow), 150ms, ease-out);

    box-sizing: border-box;

    // Icons inside buttons
    svg {
        width: 1.8rem;
        height: 1.8rem;
    }
}
