@use "../../transitions.scss";

@use "button.scss";

:local(.segmented) {
    display: flex;
    gap: 0.5rem;

    width: 100%;
    height: 2.75rem;

    padding: 0.25rem 0.5rem;

    border-radius: 0.5rem;

    box-sizing: border-box;

    :local(.button) {
        min-height: 2.25rem;
        height: 2.25rem;
    }
}

:local(.control) {
    @extend :local(.button);

    flex: 1;
}
